<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Target settings-->
		<add key="TargetSectorsCount" value="25"/>
		<add key="PixelsInOneDegreeOfMouseRotate" value="2,7"/>
		<add key="MaxDupDifferenceInProcent" value="0,33"/>
		<add key="MaxColorDifferenceInProcent" value="0,005"/>
		<add key="TargetSampleFileName" value="TargetSample.JPG"/>
		<add key="NotargetRunTimeBase" value="0"/>
		<!--Milliseconds-->
		<add key="NotargetRunTimeMax" value="0"/>
		<!--Milliseconds-->
		<add key="StuckRunTime" value="1000"/>
		<!--Milliseconds-->
		<add key="StuckTimeout" value="10"/>
		<!--Seconds-->
		<add key="SearchingRotateAngel" value="60"/>
		<!--Degrees-->
		<add key="SearchingAttemptsToRun" value="5"/>
		<!--Degrees-->
		<add key="SearchingInputPerDirection" value="3"/>
		<!--Degrees-->
		<!--Bot timers settings-->
		<add key="InputTimerFrequency" value="100"/>
		<!--Milliseconds-->
		<add key="AutobattleTimerFrequency" value="100"/>
		<!--Milliseconds-->
		<add key="HealingTimerFrequency" value="1000"/>
		<!--Milliseconds-->
		<add key="DisplayTimerFrequency" value="1000"/>
		<!--Milliseconds-->
		<!--HP check settings-->
		<add key="HpPercentToHeal" value="80"/>
		<add key="LowHpPercent" value="50"/>
		<!--Loot settings-->
		<add key="LootAttemptsInRow" value="1"/>
		<add key="LootEmptyAttempts" value="2"/>
		<add key="LootAttemptsDelay" value="500"/>
		<!--Milliseconds-->
		<!--Escape settings-->
		<add key="EscapingTimerFrequency" value="1000"/>
		<!--Milliseconds-->
		<add key="EscapeTimeout" value="5"/>
		<!--Seconds-->
		<add key="EscapePotionButton" value="8"/>
		<add key="EscapeOnOverweight" value="false"/>
		<!--Skills settings-->
		<add key="SkillsTimerFrequency" value="1000"/>
		<!--Milliseconds-->
		<add key="SkillsGlobalCooldown" value="1500"/>
		<!--Milliseconds-->
		<!--Name;Key;Delay(seconds);IsUseOnStart-->
		<!--Don't remove empty skills-->
		<add key="Skill1" value="PowerStrike;1;5;false;false"/>
		<add key="Skill2" value="Wrath;2;60;true;false"/>
		<add key="Skill3" value="Concentration;3;60;true;false"/>
		<add key="Skill4" value="Rage;4;30;true;true"/>
		<add key="Skill5" value="Bread;5;600;false;true"/>
		<add key="Skill6" value="SpeedPotion;6;900;true;true"/>
		<add key="Skill7" value="BattlePotion;7;300;true;true"/>
		<add key="Skill8" value=""/>
	</appSettings>
</configuration>